.color {
    margin-top: 2rem;
}

.all {
    background: linear-gradient(blue, crimson);
}
  

.scroll-down-space {
    height: 20rem;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 450px;
  }