.color {
    margin-top: 2rem;
}

.all {
    background: linear-gradient(blue, crimson);
}

.color-input {
    margin-left: 1rem; 
}

   /* Smaller screens */
@media screen and (max-width: 768px) { 
    h2.aside-title.colors-title {
        font-size: 20px;       
  }

    .check-all {
        margin-left: 3rem; 
    }
}