/* .aside-items {
  margin-top: 20px;
}

.aside-label-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aside-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;
}

.category-title {
  margin-top: 15px;
  margin-bottom: 20px;
  
}

h2.aside-title::before {
  content: ""; 
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #3b055b; 
}

.aside-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ebbef4; 
}

.all {
  background: linear-gradient(blue, crimson);
}

.aside-label-container:hover input ~ .check {
  background-color: #ccc;
}

.aside-label-container input:checked ~ .check {
  background-color: #2196f3;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.aside-label-container input:checked ~ .check:after {
  display: block;
}

.aside-label-container .check:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
} */



.aside-title {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
}

h2.aside-title {
  content: "";
  top: 1rem;
  left: 0;
  background: linear-gradient(to right, #03a57d, #65042a, #03a57d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
  font-weight: bold; 
  font-size: 16px;
}

h2.aside-title::before {
  content: ""; 
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #3b055b; 
}

h2.aside-title.colors-title {
  margin-top: 10px;
  }

.aside-items {
  margin-top: 10px;
}

.aside-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aside-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ebbef4; 
}

.all {
  background: linear-gradient(blue, rgb(220, 20, 210));
}

.aside-label-container:hover input ~ .check {
  background-color: #ccc;
}

.aside-label-container input:checked ~ .check {
  background-color: #2196f3;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.aside-label-container input:checked ~ .check:after {
  display: block;
}

.aside-label-container .check:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 2rem;
  border-color: #f7f7f7;
}

@media screen and (max-width: 768px) {

h2.aside-title.category-title {
  font-size: 18px;
  }
}
