/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
  } */
  
 
  .label {
    display: flex;
    align-items: center;
  }
  
  .label img {
    margin-top: 1rem;
    cursor: pointer;
    width: 45px;
  }
  
  .toggle {
    display: none;
    cursor: pointer;
  }
  
.links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin: 0; 
  padding: 0; 
  }

  .links li {
    margin: 0;
  }
  
.links li a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, #03a57d, #65042a, #03a57d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .links li a:hover {
    color: #5fb9b3;
  }
  
  .links .active {
    color: #f9c74f;
  }

     
  @media screen and (min-width: 260px) and (max-width: 768px) {

   .label {
      display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 7px;
    position: sticky
     
    }

.toggle {
  display: block;
      font-size: 1rem;
    }
  
    .links {
      display: none;
    }
  }
  
  .response-nav {
    position: fixed;
    right: -100vw;
    top: 0;
    z-index: 10;
    background-color: white;
    height: 100%S;
    width: 0%;
    transition: 0.3s ease-in-out;
    display: flex;
    opacity: 0;
    visibility: hidden;
  }
  
  .response-nav.show {
    width: 60%;
    right: 0;
  opacity: 1;
  visibility: visible;
  }
  
  .response-nav ul {
    list-style-type: none;
    width: 100%;
    margin-top: 3rem;
  }
  
  .response-nav li {
    width: 100%;
    margin: 1rem 0;
    margin-left: 2rem;
  }
  
  .response-nav a {
    text-decoration: none;
    
    font-size: 1.2rem;
    transition: 0.1s ease-in-out;

    background: linear-gradient(to right, #03a57d, #65042a, #03a57d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
  }
  
  .response-nav a:hover {
    color: #fc4958;
  }
  
  .response-nav li:first-of-type a {
    color: #d94f2a;
    font-weight: 900;
  }
   