.footer {
    /* background: linear-gradient(to right, #b4e1b1, #dee1d8, #b4e1b1); */
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    padding: 4vw;
    margin-top: 25px;
    margin-left: 14rem;
    position: relative;
    background: linear-gradient(to right, #c3e8e5, #dee1d8, #e3e9e2);
    border: 0.01rem solid #77d092;
    border-radius: 7px;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: #363463;
  }
  
  .footer ul {
    display: flex;
    list-style-type: none;
    gap: 4vw;
    margin-top: 2vw;
  }
  
  .footer li {
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  .footer li svg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363463;
    font-size: 1.6rem;
    transition: 0.3s ease-in-out;
  }
  
  .footer li:hover {
    background-color: black;
  }

  .footer li:hover svg {
    transform: scale(1.2);
  }
  
  .footer img {
    /* filter: brightness(0) invert(1); */
    width: 10vw;
      
  }
  
  .footer .holder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer .holder h3 {
    font-size: 2rem;
    background: linear-gradient(to right, #204a76, #2b9e46, #71c8d8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .bottom_footer {
    margin-top: 1rem;
    color: #1a081f;
  }
  .bottom_footer h2 span {
    color: #363463;
    text-transform: uppercase;
  }
@media screen and (max-width: 768px) {
  .footer {
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
    width: 35rem; 
    border: 0.05rem solid rgb(215, 47, 47);   
  }

  .footer .holder img {
    height: auto; 
    width: 20%;
  }

  
  .bottom_footer h2 {
    font-size: 1rem; 
  }

  .bottom_footer h2 span {
    display: block; 
  }

.footer ul {
  margin-left: 8rem;
}

.footer li {
  width: 12%;
}

.footer .holder h3 {
  margin-top: 2rem;
}

p {
  margin-top: 1.5rem;
}

 
}
