nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    margin-left: 2rem;
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    /* padding: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
  }
  
  .nav-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left:25rem;
    color: rgb(14 17 86);
  }

  @media screen and (max-width: 768px) {
    .search-input {
      margin-left: 18rem;
      height: 2rem;
    }
  }